<template name="admin">
  <div class="row">
	<div class="jumbotron">
	  <h2>Управление диетами</h2>

      <form class="new-meal">
        <textarea name="meals_data" placeholder="чо там" text></textarea>
        <input type="submit" class="btn btn-primary" value="Отправить">
      </form>

      <form class="remove-all">
        <input type="submit" class="btn btn-primary" value="Удалить всё">
      </form>

      <form class="calc-today">
        <input type="submit" class="btn btn-primary" value="Посчитать">
      </form>
    </div>
  </div>

  <div class="row">
    {{> mealsList}}
  </div>

  <div>123213</div>
  {{#each testM}}
    {{this}}
  {{/each}}


</template>