<template name="admin">
  <div class="row">
	<div class="jumbotron">
	  <h2>Управление диетами</h2>

	      <form class="new-meal">
	        <textarea name="meals_data" placeholder="чо там" class="form-control" rows="10"></textarea>
	        <input type="submit" class="btn btn-primary" value="Отправить">
	      </form>

	      <form class="remove-all">
	        <input type="submit" class="btn btn-primary" value="Удалить всё">
	      </form>

        <input type="submit" class="calc-today btn btn-primary" value="Посчитать">

    </div>
  </div>

  <div class="row">


	<table class="table table-condensed table-hover table-striped">
		<tbody>
			{{#each meals}}
			   {{> meal}}
	    	{{/each}}
		</tbody>
	</table>


  </div>

  <div>123213</div>
  <table>
  <tbody>
    {{#each portion}}
        <tr><td colspan=2>День</td></tr>
        {{#each this}}
            <tr><td colspan=2>Прием пищи</td></tr>
            {{#each this}}
                <tr><td>{{this.name}}</td><td>{{this.value}}</td></tr>
            {{/each}}
        {{/each}}
    {{/each}}
  </tbody>
  </table>

</template>