<template name="admin">
  <div class="row">
	<div class="jumbotron">
	  <h2>Управление диетами</h2>

	      <form class="new-meal">
	        <textarea name="meals_data" placeholder="чо там" class="form-control" rows="10"></textarea>
	        <input type="submit" class="btn btn-primary" value="Отправить">
	      </form>

	      <form class="remove-all">
	        <input type="submit" class="btn btn-primary" value="Удалить всё">
	      </form>

        <input type="submit" class="calc-today btn btn-primary" value="Посчитать">

    </div>
  </div>

  <div class="row">


	<table class="table table-condensed table-hover table-striped">
		<tbody>
			{{#each meals}}
			   {{> meal}}
	    	{{/each}}
		</tbody>
	</table>


  </div>

  <table>
  <tbody>
    {{#each portion}}
        <tr><td colspan=2 align="center">День</td></tr>
        {{#each this}}
            <tr><td colspan=2 align="center">Прием пищи</td></tr>
            {{#each this}}
                <tr>
                    <td width="200px">{{this.name}}</td>
                    <td width="100px">{{this.value}}</td>
                    <td width="100px">{{this.nutrients.protein}}</td>
                    <td width="100px">{{this.nutrients.fat}}</td>
                    <td width="100px">{{this.nutrients.carbohydrates}}</td>
                    <td width="100px">{{this.nutrients.calories}}</td>
                </tr>
            {{/each}}
        {{/each}}
    {{/each}}
  </tbody>
  </table>
  {{#if mealsLoaded}}
    <img src="http://viewvc.svn.mozilla.org/vc/addons/trunk/bandwagon/skin/images/spinner.gif?revision=18591&view=co&pathrev=18591">
  {{/if}}

</template>