<template name="dish">
		<tr>
		<td><h4>{{name}}</h4></td>
		<td><h4>{{value}} грамм</h4></td>

		<td><h4>
			<span class="label label-primary">Калории {{nutrients.calories}}</span>
		</h4></td>

<td><h4>
				<span class="label label-default">Жиры {{nutrients.fat}}</span>
				</h4></td>
<td><h4>
	  			<span class="label label-default">Белки {{nutrients.protein}}</span>
	  			</h4></td>	
<td><h4>
				<span class="label label-default">Углеводы {{nutrients.carbohydrates}}</span></h4></td>
			
		
		</tr>

  
</template>

