<template name="index">
	<style>
	  .panel-body {
  		padding: 0; 
	  }

	  .panel-heading a:before {
	    font-family:'Glyphicons Halflings';
    	content:"\2b";    	
    	color: grey;
	  }

	  .panel-heading a.collapsed:before {
    	content:"\2212";
	  }	  
	</style>

	<div class="row"><div class="jumbotron">
		<h2>Подобрать диету</h2>

	    <form class="new-diet">

			<div class="form-group btn-group btn-group-lg btn-group-justified" data-toggle="buttons">
				<label class="btn btn-primary active">
					<input type="radio" id="daily_diet" name="diet_period" checked="" class="formitem">
		  			На день
		  		</label>
				<label class="btn btn-primary"><input type="radio" id="weekly_diet" name="diet_period" class="formitem">
					На неделю
				</label>
			</div>

			<div class="form-group btn-group btn-group-lg btn-group-justified" data-toggle="buttons">
				<label class="btn btn-primary active"><input type="radio" value="3" name="meals_limit" checked="" class="formitem">Трёхразовое питание</label>
				<label class="btn btn-primary"><input type="radio" value="5" name="meals_limit" class="formitem">
				  Пятиразовое питание</label>
			</div>

	<div class="panel panel-default" id="panel2">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">
        <h4 class="panel-title">
        	<a></a>
        	<b>Расширенный поиск</b>
        </h4>

        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <!-- div class="panel-body" -->

            <ul class="panel-body list-group">
              <li class="list-group-item">
    			<label for="calories-input">Калорийность на 100 гр., не более:</label>    		
    				<input type="number" class="form-control" id="calories-input" value="56">
    		  </li>

    		  <li class="list-group-item">
    			<label for="fats-input">Жиры на 100 гр., не более:</label>    		
    				<input type="number" class="form-control" id="fats-input" value="56">
    		  </li>
    		</ul>  									
        </div>
    </div><!-- end panel -->

			<div class="row">
				<div class="col-md-4"></div>

				<div class="col-md-4">
				<a href="#" id="create-new-diet" class="btn btn-primary btn-lg" style="width: 100%;">
				  <span class="glyphicon glyphicon-refresh"></span>
				  Создать заново
				</a>
	    		</div>

	    		<div class="col-md-4"></div>
	    	</div>
	    
		</form>
	</div></div>

	<div class="row">
      {{> daysList}}
    </div>
</template>