<template name="index">
	<style>
	  .panel-body {
  		padding: 0; 
	  }
	</style>

	<div class="row"><div class="jumbotron">
		<h2>Составить диету</h2>

	    <form class="new-diet">
			<div class="input-group form-group">
				<label class="radio-inline"><input type="radio" id="daily_diet" name="diet_period" checked="" class="formitem">
		  			На день</label>
				<label class="radio-inline"><input type="radio" id="weekly_diet" name="diet_period" class="formitem">
					На неделю</label>
			</div>

			<div class="input-group form-group">
				<label class="radio-inline"><input type="radio" value="3" name="meals_limit" checked="" class="formitem">Трёхразовое питание</label>
				<label class="radio-inline"><input type="radio" value="5" name="meals_limit" class="formitem">
				  Пятиразовое питание</label>
			</div>

	    	<input type="submit" class="btn btn-lg btn-primary" value="Заново">
		</form>
	</div></div>

	<div class="row">
      {{> daysList}}
    </div>
</template>