<template name="mealsList">
		  {{#each qmeals}}
				<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title"><b>Меню на день</b></h3>
				  	</div>

				  	<div class="panel-body"></div>

					<table class="table table-condensed table-striped">
					<tbody>				
						{{#each this}}
							{{#if this}}		            		
							     <tr><td>
							     	<ul>
			            				{{#each this}}		            				
			                				<li>{{> dish}}</li>
			            				{{/each}}		            		
			            			</ul>
			            		</td></tr>		            	
			            	{{/if}}
		        		{{/each}}
					</tbody>
					</table>
				</div>
		  {{/each}}
</template>